<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Answer-wrong</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"> -->
</head>

<body>
  <div class="container">
    <header class="header">
      <nav class="indigo accent-2">
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link("About", to: "/") %></li>
            <li><%= link("Play quiz", to: "/quiz") %></li>
            <li><%= link("My answers", to: "/myanswers") %></li>
            <li><%= link("Global leaderboard", to: "/leaderboard") %></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li><%= link("About", to: "/") %></li>
        <li><%= link("New answerWrong", to: answer_path(@conn, :new)) %></li>
        <li><%= link("Play quiz", to: "/quiz") %></li>
        <li><%= link("My answers", to: "/myanswers") %></li>
        <li><%= link("Global leaderboard", to: "/leaderboard") %></li>
      </ul>


    </header>

    <%= if get_flash(@conn, :info) do %>
      <div id="card-alert" class="card light-blue">
        <div class="card-content white-text">
          <p><%= get_flash(@conn, :info) %></p>
        </div>
      </div>
    <% end %>


    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </div> <!-- /container -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
