<h3>answerWrong</h3>
<p>A very early version of answer wrong.</p>
<p>The aim of the game is to create answers for questions.  If your answer gets 'choosen' you get a point.</p>
<p>The more your answer sounds right the more people will choose it, increasing your score.</p>
<br />
<p>24/7/18 - Some improvements to avoid showing the same question more than one in a game</p>
<p>25/7/18 - Make navbar responsive, so it can be used on mobile</p>
