<h1>Question <%= @question_number %> : <%= @question %></h1>

<%= form_for @conn, quiz_path(@conn, :quiz_answer), fn f -> %>
  <%= for answer <- @answers do %>
    <p>
      <label>
        <input name="answer" type="radio" value=<%= answer.id %> />
        <span><%= answer.text %></span>
      </label>
    </p>
  <% end %>
  <button type="submit" class="waves-effect waves-light btn-large">Submit</button>
<% end %>
