<h2>New Answer</h2>
<h3>Question : <%= @question.question %></h3>
<%= render "form.html", Map.put(assigns, :action, answer_path(@conn, :create)) %>

<span><%= link "Back", to: answer_path(@conn, :index) %></span>
